
*{
    /* background-color: rgb(255, 244, 234); */
}
body{
background-color: #F7F6FB;
}
p,div,input{
    background-color: transparent;
}

.spinner {
    animation: spin 1s linear infinite;
  }
  .css-dip3t8{
    background-color: transparent;
  }

/* .charts{
  height: 25vh;
} */


  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

